@charset "utf-8";
@import './reset.css';

:root {
	--background-colour: #5272ff;
	--title-colour: white;
}

* { 
	transition: 0.2s ease-in-out; 
	font-family: "Geo";
}

/* Fonts */

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}


/* Background */

.background {
	height: 100svh;
	background-color: var(--background-colour);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.title {
	font-size: 90px;
	text-align: center;
	width: 100%;
	margin-top: 60px;
	margin-bottom: -175px;
	color: var(--title-colour);
}

/* Game */

.game-container {
	background-color: aliceblue;
	text-align: center;
	padding: 20px;
	height: 60%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.displayed-word {
	
}

.typed-word {
}

/* Media Queries */

@media (max-height: 890px) {
	.title {
		margin-bottom: -65px;
	}
}