@charset "utf-8";
@import './reset.css';

* { 
	transition: 0.2s ease-in-out; 
	font-family: "Geo";
}


/* Fonts */

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}


/* Background */

.background {
	height: 100svh;
	background-color: #278cff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

.title {
	font-size: 90px;
	text-align: center;
	width: 100%;
	margin-top: 60px;
	margin-bottom: -175px;
	color: #fff;
}

/* Game */

.start-button {
	visibility: visible;
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	input {
		color: #278cff;
		font-weight: 700;
		font-size: 46px;
		width: 160px;
		height: 80px;
		border-radius: 8px;
		border: 1px solid #9eb4f0;
		box-shadow: 1px 1px 5px #3d4980;
	}
	input:hover {
		translate: 0 -3px;
		box-shadow: 1px 7px 10px #566297;
	}
	input:active {
		background-color: #0731bb;
		border: 1px solid #002a9c;
		color: rgb(17, 0, 63);
	}
}

.game-container {
/* To turn invisible, visibility: hidden and opacity: 0. Visible - visibility: visible opacity: 1 */
	visibility: hidden;
	opacity: 0;
	background-color: rgb(242, 249, 255);
	text-align: center;
	padding: 20px;
	height: 60%;
	width: 75%;
	border-radius: 4px;
	border: 1px solid #9eb4f0;
	box-shadow: 1px 1px 5px #606ca1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.displayed-word {
	font-size: 52px;
	margin-top: 20px;
}

.typed-word {
	font-size: 26px;
	margin-top: -80px;
	input { 
		height: 68px;
		width: 300px;
		padding: 0 8px;
		border: 1px solid #e7f0fd;
		border-radius: 8px;
		text-align: center; 
	}
	input:focus { box-shadow: 0 0 3px #7893b3; }
}

/* Media Queries */

@media (max-height: 890px) {
	.title { margin-bottom: -65px; }
}

@media (max-height: 610px) {
	.title { margin-bottom: -35px; }
}

@media (max-width: 800px) {
	.displayed-word { font-size: 48px; }
}

@media (max-width: 620px) {
	.displayed-word { font-size: 42px; }
}

@media (max-width: 510px) {
	.displayed-word { font-size: 38px; }
	.title { font-size: 84px;	}
}

@media (max-width: 510px) {
	.displayed-word { font-size: 34px; }
	.title { font-size: 78px; }
	.typed-word input { width: 80%; }
}

@media (max-width: 430px) {
	.displayed-word { font-size: 30px; }
	.title { font-size: 72px; }
}

@media (max-width: 400px) {
	.displayed-word { font-size: 24px; }
	.title { font-size: 66px; }
	.typed-word input { height: 60px; }
}

@media (max-width: 320px) {
	.displayed-word { font-size: 22px; }
	.title { font-size: 60px; }
	.typed-word input { height: 54px; }
}